<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>iStep</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h5 text-center style="color:#A9A9A9;" *ngIf="!setYourGoal">Press on GOAL to set your goal</h5>
  <ion-card>
    <ion-card-header text-center (click)="setGoal()">
      Set Goal
    </ion-card-header>
    <hr>
    <ion-card-content text-center >
      Your Goal is: {{goal}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <span>TIME</span>
    </ion-card-header>
    <ion-card-content text-center style=" font-size: 3rem !important;">
      {{timer.hours | number:'1.0-0'}}&nbsp;:
      {{timer.minutes | number:'2.0-0'}}&nbsp;:
      {{timer.seconds | number:'2.0-0'}}
    </ion-card-content>
    <div style="padding-left: 25px;">
      <button text-center ion-button icon-left clear  color="primary" (click)="toggleCountSteps()" *ngIf="!timer.hasStarted">
        <ion-icon name="play" *ngIf="!visible"></ion-icon>
        <ion-icon name="pause" color="danger" *ngIf="visible"></ion-icon>
        {{timerName}}
      </button>
      <button text-center ion-button icon-left clear  color="primary" (click)="reset()">
        <ion-icon name="refresh"></ion-icon>
        RESET
      </button>
      <button text-center ion-button icon-left clear  color="primary" (click)="save()">
        SAVE
      </button>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <span > STEPS</span>
    </ion-card-header>
    <ion-card-content text-center style=" font-size: 3rem !important;">
      {{stepsCount}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <span> CALORIES BURNT</span>
    </ion-card-header>
    <ion-card-content text-center style=" font-size: 3rem !important;">
      {{caloriesBurnt}}
    </ion-card-content>
  </ion-card>

</ion-content>
